
<div class="calculator",id="main">
    <p>Math Calculator</p>
    <!-- <h3 data-bind="text: output"></h3> -->
    <input type="text" data-bind="value: Model.current" disabled="disabled" /><input type="text" data-bind="value: Model.dataInMem" style="width:20px" disabled="disabled"  />
    <div data-bind="foreach: Model.numbers" >
         <input type="button"  class="buttons"data-bind="value: $data.val,  click: $root.addNumber"/>
    </div>
    <div data-bind="foreach: Model.commands" >
        <input type="button" class="buttons" data-bind="value: command, click: $root.newCommand"/>
    </div>
</div>

<script>
    $(function () {
        var options = {
            urlMS:   '@Url.HttpRouteUrl("DefaultApi", new { controller = "Values", action = "PostMS" })',
            urlMC:   '@Url.HttpRouteUrl("DefaultApi", new { controller = "Values", action = "PostMC" })',
            urlMplus:'@Url.HttpRouteUrl("DefaultApi", new { controller = "Values", action = "PostMplus" })',
            urlMinus:'@Url.HttpRouteUrl("DefaultApi", new { controller = "Values", action = "PostMinus" })',
            urlMR:   '@Url.HttpRouteUrl("DefaultApi", new { controller = "Values", action = "GetMR" })'

        };
        ko.applyBindings(new ViewModel(options), document.getElementById("main"));
    });
</script>
