@model TaskShop.Models.Battery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Battery</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Producer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Producer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Capacity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Capacity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Voltage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Voltage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
