@model Server.Models.Time

@{
    ViewBag.Title = "Add new shedule";
}

<h3 class="center">Create Schedule for device with serial  @Model.DeviceSerial</h3>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

   
    
    <fieldset>
        <legend>Time</legend>

        <div class="editor-label">
            @Html.Label("Date From")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.From,new { @Value = "1.1.2013 12:00"})
            @Html.ValidationMessageFor(model => model.From)
        </div>

        <div class="editor-label">
            @Html.Label("Date To")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.To,new { @Value = "1.1.2013 14:00"})
            @Html.ValidationMessageFor(model => model.To)
        </div>


        <p>
            <input type="submit" value="Create" class="btn-6 btn-6a" />
        </p>
    </fieldset>
}





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
