@model Server.Models.Time

@{
    ViewBag.Title = "DeleteShedule";
}

<h2 class="center">Delete schedule from device serial @Model.DeviceSerial</h2>
<fieldset>
    <legend>Time</legend>
    <table class="simple-little-table">
        <tr>
            <th></th>
            <th>Time
            </th>
        </tr>

        <tr>
            <td>@Html.DisplayNameFor(model => model.From)</td>
            <td>@Html.DisplayFor(model => model.From)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.To)</td>
            <td>@Html.DisplayFor(model => model.To)</td>
        </tr>
    </table>
</fieldset>
@using (Html.BeginForm())
{
  
    <input type="submit" value="Delete" class="btn btn-6 btn-6a"> 

   
}
