@model Server.Models.Alarm

@{
    ViewBag.Title = "Reset Alarm";
}
<fieldset>
    <legend>Reset Alarm for Device @Model.DeviceSerial</legend>
    <div class="scheduleLinks">
        @Html.ActionLink("Ignore", "ignoreAlarm", new { DeviceSerial = @Model.DeviceSerial })
    </div>

    <div class="scheduleLinks">
        @Html.ActionLink("Send a detailed report", "ignoreAlarmAndMail", new { DeviceSerial = @Model.DeviceSerial })
    </div>
</fieldset>
