@model IEnumerable<Server.Models.Time>

@{
    ViewBag.Title = "Schedule";
}
<fieldset>
    <legend>Schedule for Device @ViewBag.DeviceSerial</legend>


    <div class="scheduleLinks">
        @Html.ActionLink("Set Timing", "setTiming", new { DeviceSerial = ViewBag.DeviceSerial })
    </div>

    <div class="scheduleLinks">
        @Html.ActionLink("Add New", "CreateShedule", new { DeviceSerial = ViewBag.DeviceSerial })
    </div>

    <br />
    <br />
    <table class="simple-little-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    @Html.ActionLink("Delete Schedule", "DeleteShedule", new { id = item.Id })
                </td>
            </tr>
        }
    </table>

</fieldset>


