@model Server.Models.EmailModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
@using(Html.BeginForm())
{
    @Html.ValidationSummary()

    <label>Subject</label>
    @Html.TextBoxFor(m => m.Subject)

    <label>To</label>
    @Html.TextBoxFor(m => m.To)

    <label>From</label>
    @Html.TextBoxFor(m => m.From)

    <label>Body</label>
    @Html.TextAreaFor(m => m.Body)

    
    <input type="submit" class="btn" value="Send"/>
}

