@model IEnumerable<Shared.Battery>
<div id="Show" data-bind="visible:BatteryViewModel.isReadMode">

    <div class="table-responsive">
        <table class="table" id="TestTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Producer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Capacity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Voltage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody data-bind="foreach: BatteryViewModel.arr">
                <tr>
                    <td>
                        <span data-bind="text: $data.Id"></span>
                    </td>
                    <td>
                        <span data-bind="text: $data.Producer"></span>
                    </td>
                    <td>
                        <span data-bind="text: $data.Model"></span>
                    </td>
                    <td>
                        <span data-bind="text: $data.Capacity"></span>
                    </td>
                    <td>
                        <span data-bind="text: $data.Voltage"></span>
                    </td>
                    <td>
                        <span data-bind="text: $data.Price"></span>
                    </td>
                    <td>
                        <input type="button" class="btn btn-default" value="To Cart" data-bind="click: $root.BatteryViewModel.AddToCart" />
                        <input type="button" class="btn btn-info" value="Details" data-bind="click: $root.goToPageItem" />
                    </td>
                </tr>
        </table>
    </div>
    <div>Max Price </div>
    <span data-bind="text: BatteryViewModel.maxPrice"></span>
    <div>Min Price </div>
    <span data-bind="text: BatteryViewModel.minPrice"></span>
</div>
