@model IEnumerable<TaskShop.Shared.Earphone>

<table class="simple-little-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxFrequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
       
    </tr>


    <tbody data-bind="foreach: EarphoneModel.arr">
        <tr>
            <td>
                <span data-bind="text: $data.Id"></span>
            </td>
            <td>
                <span data-bind="text: $data.Producer"></span>
            </td>
            <td>
                <span data-bind="text: $data.MaxFrequency"></span>
            </td>
            <td>
                <span data-bind="text: $data.Resistance"></span>
            </td>
            <td>
                <span data-bind="text: $data.Price"></span>
            </td>

        </tr>

</table>
