@model IEnumerable<TaskShop.Models.MemoryCard>

<table class="simple-little-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReadSpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WriteSpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

    </tr>


    <tbody data-bind="foreach: MemoryCardModel.arr">
        <tr>
            <td>
                <span data-bind="text: $data.Id"></span>
            </td>
            <td>
                <span data-bind="text: $data.Producer"></span>
            </td>
            <td>
                <span data-bind="text: $data.Size"></span>
            </td>
            <td>
                <span data-bind="text: $data.ReadSpeed"></span>
            </td>
            <td>
                <span data-bind="text: $data.WriteSpeed"></span>
            </td>
            <td>
                <span data-bind="text: $data.Price"></span>
            </td>

        </tr>

</table>
