@model Shared.Monitor

<div id="Add" data-bind="visible:MonitorViewModel.isEditMode">
    <div class="editor-label">
        @Html.LabelFor(model => model.Producer)
    </div>
    <div class="editor-field">
        <input type="text" data-bind="value: MonitorViewModel.MonitorModel.Producer" />
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Model)
    </div>
    <div class="editor-field">
        <input type="text" data-bind="value: MonitorViewModel.MonitorModel.Model" />
    </div>

    <div class="editor-field">
        @Html.LabelFor(model => model.MatrixType)
    </div>
    <div class="editor-field">
        <input type="text" data-bind="value: MonitorViewModel.MonitorModel.MatrixType" />
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Resolution)
    </div>
    <div class="editor-field">
        <input type="text" data-bind="value: MonitorViewModel.MonitorModel.Resolution" />
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Frequency)
    </div>
    <div class="editor-field">
        <input type="text" data-bind="value: MonitorViewModel.MonitorModel.Frequency" />
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Price)

    </div>
    <div class="editor-field">
        <input type="text" data-bind="value: MonitorViewModel.MonitorModel.Price" />
    </div>


    <p>
        <input type="button" value="Add" data-bind="click: MonitorViewModel.Add" />
        <input type="button" value="Cancel" data-bind="click: MonitorViewModel.Cancel" />
    </p>
</div>
