@model IEnumerable<TaskShop.Models.Order>


<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TotalCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.House)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalGoodsPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody data-bind="foreach: WizardModel.OrderModel.arr">
        <tr>
            <td >
                <span data-bind="text: $data.Id"></span>
            </td>
            <td >
                <span data-bind="text: $data.TotalCount"></span>
            </td>
            <td >
                <span data-bind="text: $data.Discount"></span>
            </td>
            <td >
                <span data-bind="text: $data.Email"></span>
            </td>
            <td >
                <span data-bind="text: $data.City"></span>
            </td>
            <td class="col-md-3">
                <span data-bind="text: $data.Street"></span>
            </td>
            <td class="col-md-3">
                <span data-bind="text: $data.House"></span>
            </td>
            <td class="col-md-3">
                <span data-bind="text: $data.CardNumber"></span>
            </td>
            <td class="col-md-3">
                <span data-bind="text: $data.TotalGoodsPrice"></span>
            </td>
            <td class="col-md-3">
                <span data-bind="text: $data.DeliveryPrice"></span>
            </td>
            <td class="col-md-3">
                <span data-bind="text: $data.TotalPrice"></span>
            </td>
            <td>
                <input type="button" class="btn btn-info" value="Details" data-bind="click: $root.goToPageItem" />
            </td>
        </tr>


</table>
