@model IEnumerable<DataLayer.Models.Order>

<div data-bind="with:WizardModel.OrderModel" class="row">
    <label>
        Enter Your Order Id:
        <input data-bind="value: Id ,valueUpdate: 'afterkeydown'" /></label>
    <input type="button" class="btn btn-info" value="Search"
        data-bind="click: $root.searchOrder" />
</div>
<br />
<br />

<div data-bind="foreach: WizardModel.OrderModel.arr" class="row">
    <div class="col-md-4 ">
        @Html.DisplayNameFor(model => model.Id)
        <span data-bind="text: $data.Id"></span>
        <br />
        @Html.DisplayNameFor(model => model.CardNumber)
        <span data-bind="text: $data.CardNumber"></span>
        <br />
        @Html.DisplayNameFor(model => model.Email)
        <span data-bind="text: $data.Email"></span>
        <br />
        @Html.DisplayNameFor(model => model.TotalCount)
        <span data-bind="text: $data.TotalCount"></span>
        <br />
        @Html.DisplayNameFor(model => model.TotalPrice)
        <span data-bind="text: $data.TotalPrice"></span>
        <br />
        <input type="button" class="btn btn-info" value="Details" data-bind="click: $root.goToPageItem" />
    </div>
</div>
