@model DataLayer.Models.MemoryCard


<div data-bind="with:currentData">
    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Id)
    </div>
    <div class="editor-field">
        <span data-bind="text:Id"></span>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Producer)
    </div>
    <div class="editor-field">
        <span data-bind="text: Producer"></span>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Model)
    </div>
    <div class="editor-field">
        <span data-bind="text: Model"></span>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Size)
    </div>
    <div class="editor-field">
        <span data-bind="text:Size"></span>
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.ReadSpeed)
    </div>
    <div class="editor-field">
        <span data-bind="text: ReadSpeed"></span>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.WriteSpeed)
    </div>
    <div class="editor-field">
        <span data-bind="text: WriteSpeed"></span>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Price)
    </div>
    <div class="editor-field">
        <span data-bind="text:Price"></span>
    </div>

    <input type="button" class="btn" value="To Cart" data-bind="click: $root.MemoryCardViewModel.AddToCart" />

</div>
