@model DataLayer.Models.MemoryCard

<div id="Add" data-bind="visible:MemoryCardViewModel.isEditMode">
    <div class="editor-label">
        @Html.LabelFor(model => model.Producer)
    </div>
    <div class="editor-field">
        <input type="text" data-bind="value: MemoryCardViewModel.MemoryCardModel.Producer" />
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Model)
    </div>
    <div class="editor-field">
        <input type="text" data-bind="value: MemoryCardViewModel.MemoryCardModel.Model" />
    </div>

    <div class="editor-field">
        @Html.LabelFor(model => model.Size)
    </div>
    <div class="editor-field">
        <input type="text" data-bind="value: MemoryCardViewModel.MemoryCardModel.Size" />
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.WriteSpeed)
    </div>
    <div class="editor-field">
        <input type="text" data-bind="value: MemoryCardViewModel.MemoryCardModel.WriteSpeed" />
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.ReadSpeed)
    </div>
    <div class="editor-field">
        <input type="text" data-bind="value: MemoryCardViewModel.MemoryCardModel.ReadSpeed" />
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Price)

    </div>
    <div class="editor-field">
        <input type="text" data-bind="value: MemoryCardViewModel.MemoryCardModel.Price" />
    </div>


    <p>
        <input type="button" value="Add" data-bind="click: MemoryCardViewModel.Add" />
        <input type="button" value="Cancel" data-bind="click: MemoryCardViewModel.Cancel" />
    </p>
</div>

