@model Server.Models.LogModel
@{
    ViewBag.Title = "Enter the System";
}
<h2 class="center">Enter the System</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
 
    <fieldset>
        <legend>Enter UserName and Password</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
       
         @Html.ActionLink("Forgot your password?", "sendPage", new { userName = @Html.EditorFor(model => model.UserName) })
      
        <div class="editor-label">
            @Html.LabelFor(model => model.RememberMe)

            @Html.EditorFor(model => model.RememberMe)
            @Html.ValidationMessageFor(model => model.RememberMe)
        </div>


          <p>
            <input type="submit" value="Enter" class="btn btn-6 btn-6a" />
        </p>
    </fieldset>
}