@model IEnumerable<TaskShop.Models.Battery>

<table class="simple-little-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voltage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
       
    </tr>


    <tbody data-bind="foreach: Model.arr">
        <tr>
            <td>
                <span data-bind="text: $data.Id"></span>
            </td>
            <td>
                <span data-bind="text: $data.Producer"></span>
            </td>
            <td>
                <span data-bind="text: $data.Capacity"></span>
            </td>
            <td>
                <span data-bind="text: $data.Voltage"></span>
            </td>
            <td>
                <span data-bind="text: $data.Price"></span>
            </td>

        </tr>

</table>
