@model IEnumerable<TaskShop.Models.Monitor>

<table class="simple-little-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatrixType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resolution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

    </tr>


    <tbody data-bind="foreach: MonitorModel.arr">
        <tr>
            <td>
                <span data-bind="text: $data.Id"></span>
            </td>
            <td>
                <span data-bind="text: $data.Producer"></span>
            </td>
            <td>
                <span data-bind="text: $data.MatrixType"></span>
            </td>
            <td>
                <span data-bind="text: $data.Resolution"></span>
            </td>
            <td>
                <span data-bind="text: $data.Frequency"></span>
            </td>
            <td>
                <span data-bind="text: $data.Price"></span>
            </td>

        </tr>

</table>
